.container{
    width: 100%;
}
body{
    margin: 0;
}
.first{
    color: white;
    display: flex;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
}
.first-left{
    font-size: 24px;
    color: #f9faf8;
}
.first-right{
    display: flex;
    margin-left: auto;
}
.button{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
}
.sec{
    height: 300px;
    display: flex;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    
}
.sec-left{
    width: 400px;
}
.sec h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    
}
.sec-left p, .button{
    font-size: 18px;
    color: #e5e7eb;
}
.sign-up{
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sec-right{
    text-align: center;
    padding: 50px;
    margin-left: auto;
}
.sec-right img{
    width: 300px;
}
.third h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.third{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  align-self: center;
  height: 275px;
}
.cointainer-for-ilustration{
    width: 150px;
    height: 200px;
    flex-direction: column;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.thirdh1{
    width: 100%;
    text-align: center;
}
.ilustration{
    border: #3882f6 5px solid;
    border-radius: 7px;
    width: 100%;
    height: 80%;
}
.fourth{
    text-align: center;
    justify-content: center;
    background-color: #e5e7eb;
}
.quota{
    width: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.altair{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
}
.name{
    text-align: right;
    font-weight: 900;
}
.fifth{
    height: 175px;
    color: white;
}
.blue{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border-radius: 5px;
}
.right-blue{
    margin-top: auto;
    margin-bottom: auto;
}
.right-blue a{
    border: white 1px solid;
}
.footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 50px;
}