.container{
    width: 100%;
}
body{
    margin: 0;
}
.first{
    color: white;
    display: flex;
    border: yellow 1px solid;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    
    
}
.first-left{
    font-size: 24px;
    color: #f9faf8;
}
.first-right{
    display: flex;
    margin-left: auto;
    border: yellow 1px solid;
}
.button{
    border: yellow 1px solid;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
}
.sec{
    height: 300px;
    display: flex;
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
}
.sec-left{
    width: 400px;
}
.sec h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    
}
.sec-left p, .button{
    font-size: 18px;
    color: #e5e7eb;
}
.sign-up{
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sec-right{
    margin: auto;
    text-align: center;
    align-items: center;
    border: yellow 1px solid;
    width: 500px;
}
.sec-right img{
    width: 300px;
}